.wrapper {
    background: #f7f6f3;
  }
  /* .load{
      width: 100vw;
      height: 100vh;
    } */
  .container {
    margin: 0 auto;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    width: 100%;
    /* width: 94%; */
    background-color: #eeebe5;
  }
  
  .container-left {
    overflow-y: scroll;
    background-color: white;
    border-radius: 8px;
    height: 85vh;
  }
  .container-right {
    flex: 7;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 1%;
    padding: 2% 2%;
    margin-left: 2%;
    width: 90%;
    height: 85vh;
  }
  
  .header_nav {
    margin-bottom: 2rem;
    padding-left: 1.4rem;
    margin: 1rem 1rem auto;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35vw;
    border-radius: 0.6rem;
    background-color: white;
    color: #131313;
  }
  
  #user_name {
    font-size: 18px;
    font-weight: 700;
  }
  .counter {
    margin-left: 15px;
    color: #131313;
  }
  .lefthand_bar .name {
    font-size: 20px;
    background-color: #f7f6f3;
  }
  .leftsidecontainer {
    cursor: pointer;
    height: 100%;
    width: 32vw;
    margin: 1rem auto;
    /* margin: 1rem 1rem auto; */
    text-decoration: none;
    /* margin: 1rem 0rem; */
    background-color: #f7f6f3;
    border-radius: 0.6rem;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: space-between;
  }
  .profile_desc {
    display: flex;
    flex-direction: column;
    margin-left: -8rem;
  }
  .job_title .country {
    color: rgb(104, 102, 102);
    margin: 0px;
  }
  
  .taskNumber {
    display: flex;
    flex-direction: column;
  }
  .taskNum {
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: 700;
  }
  .tasks {
    color: rgb(104, 102, 102);
    font-size: 14px;
  }
  
  .profiles {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  .profileSmallwrap {
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding: 0 20px;
  }
  .personalDetails {
    display: flex;
    flex-direction: column;
  }
  .right_side_dots {
    width: 40px;
    height: 40px;
    background: #eaeaea;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile_name,
  .job_title,
  .country {
    margin: 0;
  }
  .profile_name {
    font-size: 26px;
  }
  .fa-user-alt {
    width: 120px;
    height: 120px;
    font-size: 120px;
  }
  
  .job_title {
    font-size: 14px;
    font-weight: 400;
  }
  .country {
    font-size: 16px;
    font-family: Heebo;
    font-weight: 400;
  }
  .profile_view {
    margin: 10px 0;
    font-size: 20px;
  }
  .img_container {
    width: 120px;
    height: 120px;
    border: none;
  }
  .image_url {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    /* background-color: red; */
  }
  
  .taskleveldiagram {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15%;
    background-color: #ffffff;
  }
  .task_assign_no {
    height: 15%;
    display: flex;
  }
  
  .design {
    display: flex;
    align-items: center;
    background-color: #f7f6f3;
    margin-top: 15px;
    border-radius: 10px;
  }
  .design:last-child {
    margin-bottom: 20px;
  }
  .icon {
    padding: 0 10px;
  }
  
  .assignedtext {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
  }
  .designtage {
    font-size: 12px;
    width: 43px;
    background-color: #e3efff;
    color: #1975d0;
    margin-top: 10px;
    font-family: Heebo;
  }
  
  .lastactivity {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .lastactivityicon {
    width: 10%;
    margin-right: 1%;
  }
  .lastactivitydata {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
  }
  .lastactivitytext {
    font-size: 16px;
    width: 80%;
    /* overflow-wrap: break-word; */
  }
  .lastactivitydate {
    font-size: 14px;
  }
  .lastactivitydatemonth {
    margin: 0;
  }
  .lastactivityimages {
    display: flex;
    margin-left: 10%;
  }
  .LA_img_container {
    margin: 5px;
    width: 100px;
    height: 100px;
  }
  .LA_img_container_item {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .fa-check-circle {
    background-color: #cef9c6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  .fa-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #e3efff;
    border-radius: 50%;
  }
  .checkbox_text {
    display: flex;
  }
  
  .activity_detail1 {
    margin-bottom: 2px;
    color: black;
  }
  .activity_detail2 {
    display: flex;
  }
  .headerWrapper {
    height: 100px;
  }
  
  .lastActivityHeader {
    margin: 15px 0;
    font-size: 18px;
    font-style: normal;
  }
  .horizontal {
    border: 1px solid #ececec;
  }
  