:root {
    --deepGrey-background: #EEEBE5;
    --lightGrey-background: #F7F6F3;
    --white-background: #FFFFFF;
    --milk-background: #FFF8DD;
    --dark-background: #000000;
    --lightDark-background: #202020;

    /* Test Color */
    --color-blue: #1975D0;
    --color-orange: #ED6400;
    --color-purple: #764CED;
    --color-red: #FF1000;
    --color-yellow: #FFC200;
    --color-black: #131313;
    --color-grey: #878787;
    --color-white: #FFFFFF;
/* bUTTON  */
--color-green: #CEF9C6;


}